@charset "UTF-8";

:root {
    --main-fg-color: #282c37;
    --main-bg-color: #dddddd;
    --link-color: red;
    --font-size: 12px;
    --line-spacing: 240%;
    --mobile-font-size: 30px;
    --mobile-line-spacing: 180%;
    --rendering: normal;
    --left-margin: 20%;
    --text-width: 60%;
    --left-margin-mobile: 2.5%;
    --text-width-mobile: 95%;
    --details-font-size: 12px;
    --quote-font-size: 20px;
    --quote-left-margin: 20%;
    --quote-width: 60%;
    --quote-left-margin-mobile: 10%;
    --quote-width-mobile: 80%;

    --header-font: 'Arial, Helvetica, sans-serif';
    --button-bottom-margin: 10px;
}

@font-face {
  font-family: 'Exoplanetaria';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

body, html {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);

    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-spacing);
    image-rendering: var(--rendering);
    text-align: center;
}

p { text-align: justify; }

pre {
    background-color: black;
    color: white;
}

a:link {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: var(--main-bg-color);
    text-decoration: none;
}

details > summary {
    padding: 4px;
    border: none;
    cursor: pointer;
}

details > p {
    background-color: #eee;
    padding: 4px;
    margin: 0;
}

details > h4, ul {
    color: #777;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '';
}

details[open] > summary::before {
    content: '';
}
blockquote {
    border-left: 10px;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: var(--quote-font-size);
    font-weight: var(--quote-font-weight);
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";
    margin-left: var(--quote-left-margin);
    width: var(--quote-width);
}
blockquote p {
    display: inline;
}

h1 {
    font-family: 'Exoplanetaria';
    color: var(--title-color);
    text-align: center;
    font-size: 70px;
}

.subtitle {
    font-family: 'Exoplanetaria';
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.projectDescription {
    font-family: 'Exoplanetaria';
    font-size: 20px;
    font-style: normal;
    margin-left: var(--left-margin);
    width: var(--text-width);
    text-align: left;
}

.donationLinks {
    text-align: center;
}

.titleLogo {
    width: 30%;
}

.networkImage img {
    width: 15%;
    text-align: center;
}

.sectiontitle {
    font-family: 'SheilaCrayon';
    font-size: 34px;
    font-style: italic;
    text-align: center;
}

table, th {
    border: 0px solid black;
    text-align: center;
    width: var(--text-width);
}

.section {
    font-family: 'Exoplanetaria';
    font-size: var(--font-size);
    color: var(--main-bg-color);
    text-align: center;
    font-size: 28px;
}

td {
    background-color: #777;
    width: 30%;
    border: 0px solid black;
    text-align: center;
}

td a:link {
    color: var(--main-bg-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    filter: brightness(150%);
}

@media screen and (min-width: 400px) {
}

@media screen and (max-width: 1000px) {
    body, html, p {
        font-size: var(--mobile-font-size);
        line-height: var(--mobile-line-spacing);
    }
    table, th {
        width: 95%;
    }
    td {
        font-size: var(--mobile-font-size);
        line-height: var(--mobile-line-spacing);
    }
    .projectDescription {
        font-size: var(--mobile-font-size);
        margin-left: var(--left-margin-mobile);
        width: var(--text-width-mobile);
    }
    h3 {
        font-size: var(--mobile-font-size);
    }
    h4 {
        font-size: 18px;
    }
    .networkImage img {
        width: 45%;
    }
    blockquote {
        font-size: var(--mobile-font-size);
        margin-left: var(--quote-left-margin-mobile);
        width: var(--quote-width-mobile);
    }
    .titleLogo {
        width: 60%;
    }
}
